* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.sidebar-wrapper {
    z-index: 9999;
}

a {
    color: black !important;
    text-decoration: none !important;
}
